
.classpath
.project
.settings/
target/
settings.xml
src/main/java/fantalive/configurazione/ConfigSecurity.java
src/main/java/fantalive/util/ConstantDev.java
src/main/java/com/daniele/fantalive/util/ConstantDevelop.java
src/main/resources/credentials.json
spyAsta.log
spyAsta.log
spyAsta.log
*.log
spyAsta.log
spyAsta.log
spyAsta.log
