<?xml version='1.0' encoding='utf-8'?>
<widget id="com.daniele.fantalive" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>FantaLive</name>
  <description>Wrapper Cordova per l'app web FantaLive (AngularJS)</description>
  <author email="" href="">Daniele</author>
  <content src="index.html" />
  <access origin="*" />
  <access origin="http://85.235.148.177:8080" />
  <preference name="ScrollEnabled" value="true" />
  <preference name="Orientation" value="default" />
  <platform name="ios">
    <edit-config target="NSAppTransportSecurity" file="*-Info.plist" mode="merge">
      <dict>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
        <key>NSExceptionDomains</key>
        <dict>
          <key>85.235.148.177</key>
          <dict>
            <key>NSExceptionAllowsInsecureHTTPLoads</key>
            <true/>
            <key>NSIncludesSubdomains</key>
            <true/>
          </dict>
        </dict>
      </dict>
    </edit-config>
    <allow-intent href="itms:*" />
    <allow-intent href="itms-apps:*" />
  </platform>
  <platform name="android">
    <allow-intent href="market:*" />
  </platform>
</widget>

