<div class="modal-header">
	<h3 class="modal-title" id="modal-title">Proiezione</h3>
	<select  ng-model="nomiProiezioni" ng-change="selectNomeProiezioni(nomiProiezioni)">
   		<option ng-repeat="nome in listaNomiProiezioni" value="{{nome}}">
      		{{nome.substr(0,nome.indexOf("-"))}}
   		</option>
	</select>
	<img ng-click="cancellaProiezione(nomiProiezioni)" style="width: 20px;" style="cursor:pointer" ng-src="./ico/cestino.png" ng-show="nomiProiezioni"></img>
</div>
<div style="text-align:center" class="modal-body" id="modal-body">
	<table style="widthXX: 850px;">

		<tr align=center>
			<td style="width: 300px;" ></td>
			<td style="width: 1000px;" ng-repeat="team in pc.data.teams">{{team.nome}}</td>
		</tr>
		<tr ng-show="pc.data.ris != '-'" align=center>
			<td>risultato</td>
			<td><label>{{pc.data.ris.substring(0,pc.data.ris.indexOf("-"))}}</label></td>
			<td><label>{{pc.data.ris.substring(pc.data.ris.indexOf("-")+1)}}</label></td>
		</tr>
		<tr align=center>
			<td>modificatore difesa</td>
			<td ng-repeat="team in pc.data.teams">{{team.bmd}}</td>
		</tr>
		<tr align=center>
			<td>modificatore centrocampo</td>
			<td ng-repeat="team in pc.data.teams">{{team.bmc}}</td>
		</tr>
		<tr align=center>
			<td>modificatore attacco</td>
			<td ng-repeat="team in pc.data.teams">{{team.bma}}</td>
		</tr>
		<tr align=center>
			<td>fair play</td>
			<td ng-repeat="team in pc.data.teams">{{team.bmfp}}</td>
		</tr>
		<tr align=center>
			<td>fattore casa</td>
			<td ng-repeat="team in pc.data.teams">{{team.fattore}}</td>
		</tr>
		<tr align=center>
			<td>capitano</td>
			<td ng-repeat="team in pc.data.teams">{{team.bmcap}}</td>
		</tr>
		<tr align=center>
			<td>modulo orig</td>
			<td ng-repeat="team in pc.data.teams">{{team.modulo}}</td>
		</tr>
		<tr align=center>
			<td>modulo</td>
			<td ng-repeat="team in pc.data.teams">{{team.moduloS}}</td>
		</tr>
		<tr align=center>
			<td>TOTALE</td>
			<td ng-repeat="team in pc.data.teams">{{team.total}}</td>
		</tr>
		<tr align=center>
			<td></td>
			<td ng-repeat="team in pc.data.teams" style="vertical-align:top">
				<span ng-repeat="pl  in team.players "> 
					<label ng-show="pl.played">{{pl.nome}}</label> 
					<strike ng-show="!pl.played">{{pl.nome}}</strike> 
					<img style="width: 20px;" ng-src="./ico/capitano.png" ng-show="pl.capitano"></img>
					<img style="width: 20px;" ng-src="./ico/vicecapitano.jpg" ng-show="pl.viceCapitano"></img>
					<span ng-show="pl.played">
						{{pl.voto}} - {{pl.fantavoto}} 
						<span ng-hide="pl.squadraGioca">*</span> 
						<span ng-repeat="bonusmalus in pl.bm track by $index"> 
							<img style="width: 20px;" ng-src="./ico/{{bonusmalus}}.png" />
						</span> 
					<span ng-show="pl.malus != 0">malus <label>{{pl.malus}}</label></span> 
					</span> 
					<br>
				</span>
			</td>
		</tr>

	</table>



	<div ng-repeat="tm  in pc.data.teams">
		<!-- 	<label>{{tm.bma}}</label><br>  -->
		<!--	<label>{{tm.bmc}}</label><br>  -->
		<!--	<label>{{tm.bmcap}}</label><br>  -->
		<!--	<label>{{tm.bmp}}</label><br>  -->
		<!--	<label>{{tm.bmr}}</label><br>  -->
		<!--	<label>{{tm.cap}}</label><br>  -->
		<!--	<label>{{tm.id}}</label><br>  -->
		<!--	<label>{{tm.ru}}</label><br>  -->
		<div ng-repeat="pl  in tm.players">
			<span ng-show="pl.played"> <!--		<label>{{pl.id}}</label> - -->
				<!-- 		<label>{{pl.totBM}}</label>  -->
			</span>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary btnModale" ng-click="pc.ok()">OK</button>
	</div>